{% extends "base.html" %}

{% load i18n %}

{% load bootstrap4 %}

{% block title %}{% trans "Register for an account" %}{% endblock %}

{% block content %}

    {% bootstrap_messages %}

    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Register</h4>
        </div>
        <div class="card-body">
            <form class="form" method="post">
                {% csrf_token %}
                {% bootstrap_form_errors form type="all" layout='horizontal' %}
                {% bootstrap_form form show_help=True show_label=True set_required=True size='medium' layout="horizontal" %}
                <div class="d-flex">
                    {% bootstrap_button "Submit" button_type="submit" button_class="btn-secondary" %}
                </div>
            </form>
        </div>
    </div>

{% endblock %}