{% extends "base.html" %}

{% load i18n %}

{% load bootstrap4 %}

{% block title %}{% trans "Register for an account" %}{% endblock %}

{% block heading %}Register for an account{% endblock %}

{% block content %}

    <form class="form" method="post">
        {% csrf_token %}
        {% bootstrap_form_errors form type="all" layout='inline' %}
        {% bootstrap_form form form_group_class='form-group' show_help=True show_label=True set_required=True size='medium' layout="horizontal" %}
        <div class="d-flex">
            {% bootstrap_button "Submit" button_type="submit" button_class="btn-secondary" %}
        </div>
    </form>

{% endblock %}