{% load static %}

{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Meta -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="keywords" content="">
        {% block meta %}{% endblock %}

        <!-- Title -->
        <title>{% block title %}Expmotor{% endblock %}</title>

        <!-- Favicon icon -->
        <link rel="icon" type="image/png" sizes="16x16" href={% static 'experiment/images/favicon.png' %}>

        <!-- Stylesheets -->
        <link rel="stylesheet" href={% static 'experiment/vendor/owl-carousel/css/owl.carousel.min.css' %}>
        <link rel="stylesheet" href={% static 'experiment/vendor/owl-carousel/css/owl.theme.default.min.css' %}>
        <link rel="stylesheet" href={% static 'experiment/vendor/jqvmap/css/jqvmap.min.css' %}>
        <link rel="stylesheet" href={% static 'experiment/css/style.css' %}>
        {% block extrahead %}{% endblock %}

    </head>

    <body>

        <!-- Preloader -->
        <div id="preloader">
            <div class="sk-three-bounce">
                <div class="sk-child sk-bounce1"></div>
                <div class="sk-child sk-bounce2"></div>
                <div class="sk-child sk-bounce3"></div>
            </div>
        </div>

        <!-- Wrapper -->
        <div id="main-wrapper">

            <!-- Nav header -->
            {% include 'navheader.html' %}

            <!-- Header -->
            {% include 'header.html' %}

            <!-- Sidebar -->
            {% include 'navbar.html' %}

            <!-- Content body -->
            {% block content %}{% endblock %}

            <!-- Footer -->
            {% include 'footer.html' %}
        </div>

        <!-- Required vendors -->
        <script src={% static 'experiment/vendor/global/global.min.js' %}></script>
        <script src={% static 'experiment/js/quixnav-init.js' %}></script>
        <script src={% static 'experiment/js/custom.min.js' %}></script>

    </body>
</html>


