{% load static %}

{% load bootstrap4 %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name='viewport'
          content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'/>
    <meta name="author" content="Sebastian Fest">
    <meta name="keywords" content="FAIR, NHH, Experiments">
    {% block meta %}{% endblock %}
    <title>{% block title %}ExpMotor{% endblock %}</title>
    <!-- Icons -->
    <link rel="apple-touch-icon" sizes="76x76" href={% static 'experiment/img/apple-icon.png' %}>
    <link rel="icon" type="image/png" href={% static 'experiment/img/favicon.png' %}>
    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
    <!-- CSS Files -->
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'experiment/css/paper-dashboard.css' %}"/>
    <!-- Javascript -->
    {% bootstrap_javascript jquery='full' %}
    {% block extrahead %}{% endblock %}
</head>
<body class="">
<div class="wrapper">
    <!-- Sidebar -->
    {% include 'sidebar.html' %}
    <div class="main-panel">
        <!-- Navbar -->
        {% include 'navbar.html' %}
        <!-- Content -->
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
        <!-- Footer -->
        {% include 'footer.html' %}
    </div>
</div>
<!--   Core JS Files   -->
<script type="text/javascript" src={% static 'experiment/js/core/popper.min.js' %}></script>
<script type="text/javascript" src={% static 'experiment/js/plugins/perfect-scrollbar.jquery.min.js' %}></script>
<!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
<script type="text/javascript" src="{% static 'experiment/js/paper-dashboard.min.js' %}"></script>
{% block extrascript %}{% endblock %}
</body>
</html>



