{% load bootstrap4 %}

<html>
    <head>
        <title>Expmotor</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% bootstrap_css %}
        {% bootstrap_javascript jquery='full' %}
        {% block extrahead %}{% endblock %}
    </head>
    <body>
        {% include 'header.html' %}
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-md-10 mx-auto">
                    <h3>{% block title %}{% endblock %}</h3>
                    <hr class="mt-0 mb-4">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
        <hr>
        {% include 'footer.html' %}
    </body>
</html>
