<footer class="footer mt-auto py-3" style="position: relative; bottom: 0; width: -webkit-fill-available;">
    <div class="container-fluid">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a href="https://www.creative-tim.com" target="_blank">Expmotor</a></li>
                    <li><a href="https://www.creative-tim.com/blog" target="_blank">About</a></li>
                    <li><a href="https://www.creative-tim.com/license" target="_blank">Licenses</a></li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                    <span class="copyright">© 2021</span>
            </div>
        </div>
    </div>
</footer>