<footer class="footer mt-auto py-3" style="position: absolute; bottom: 0; width: -webkit-fill-available;">
    <div class="container-fluid">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a href="{% url 'experiment:about' %}">About</a></li>
                    <li><a href="{% url 'experiment:license' %}">Licenses</a></li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                    <span class="copyright">© 2021</span>
            </div>
        </div>
    </div>
</footer>