{% load static %}

<div class="nav-header">

    <a class="brand-logo" href={% url 'experiment:experiment_list' %} >
        <img class="logo-abbr" alt="" src={% static 'experiment/images/logo.png' %}>
        <img class="logo-compact" alt="" src={% static 'experiment/images/logo-text.png' %}>
        <img class="brand-title" alt="" src={% static 'experiment/images/logo-text.png' %}>
    </a>

    <div class="nav-control">
        <div class="hamburger">
            <span class="line"></span><span class="line"></span><span class="line"></span>
        </div>
    </div>
</div>