{% extends "registration/registration_base.html" %}

{% load i18n %}

{% load bootstrap4 %}

{% block title %}{% trans "Change password" %}{% endblock %}

{% block content %}

    <div class="card">
        <div class="card-header">
            <h4 class="card-title">{% trans "Change password" %}</h4>
        </div>
        <div class="card-body">
            <form class="form" method="post" action="">
                {% csrf_token %}
                {% bootstrap_form_errors form type="all" layout='horizontal' %}
                {% bootstrap_form form show_help=True show_label=True set_required=True layout="horizontal" %}
                <div class="form-row">
                    <input type="submit" class="btn btn-secondary" value='Change password'/>
                </div>
            </form>
        </div>
    </div>

{% endblock %}


{# This is used by django.contrib.auth #}
