{% extends "registration/registration_base.html" %}

{% load i18n %}

{% load bootstrap4 %}

{% block meta %}
    <!-- NOTE(joshblum): This prevents leaking the password reset token via the
       Referer header to any 3rd party apps on the page. -->
    <meta name="referrer" content="origin">
{% endblock %}

{% block title %}{% trans "Confirm password reset" %}{% endblock %}

{% block content %}

    {% if validlink %}

        <p>{% trans "Enter your new password below to reset your password:" %}</p>
        <form class="form" action="" method="post">
            {% csrf_token %}
            {% bootstrap_form_errors form type="all" layout='horizontal' %}
            {% bootstrap_form form form_group_class='form-group' show_help=True show_label=True set_required=True size='medium' layout="horizontal" %}
            <div class="d-flex">
                <input class="btn btn-secondary" type="submit" value="{% trans 'Set password' %}"/>
            </div>
        </form>

    {% else %}

        <div class="alert alert-warning" role="alert">
            Password reset unsuccessful. Please <a href="{% url 'auth_password_reset' %}">try again.</a>
        <div>

    {% endif %}

{% endblock %}


{# This is used by django.contrib.auth #}
