{% extends "registration/registration_base.html" %}

{% load i18n %}

{% load bootstrap4 %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block content %}
    <div class="alert alert-info" role="alert">
        {% blocktrans %}
            Forgot your password? Enter your email in the form below and we'll send you instructions for creating a new
            one.
        {% endblocktrans %}
    </div>

    <form class="form" action="" method="post">
        {% csrf_token %}
        {% bootstrap_form_errors form type="all" layout='horizontal' %}
        {% bootstrap_form form form_group_class='form-group' show_help=True show_label=True set_required=True size='medium' layout="horizontal" %}
        <div class="d-flex">
            <input class="btn btn-secondary" type="submit" value="{% trans 'Reset password' %}"/>
        </div>
    </form>

{% endblock %}


{# This is used by django.contrib.auth #}
