{% extends "registration/registration_base.html" %}

{% load i18n %}

{% load bootstrap3 %}

{% block title %}Account Profile{% endblock %}

{% block content %}
    {% bootstrap_messages %}
    <ul class="nav nav-tabs account-tabs">
        <li class="active">
            <a data-toggle="tab" href="#profile">Profile</a>
        </li>
        {#        {% if profile.courses.all %}#}
        <li>
            <a data-toggle="tab" href="#courses">Courses</a>
        </li>
        {#        {% endif %}#}
        {#        {% if profile.posts.all %}#}
        <li>
            <a data-toggle="tab" href="#posts">Posts</a>
        </li>
        {#        {% endif %}#}
        {#        {% if profile.papers.all %}#}
        <li>
            <a data-toggle="tab" href="#papers">Papers</a>
        </li>
        {#        {% endif %}#}
    </ul>
    <!-- Content -->
    <div class="tab-content">
        <!-- Profile table -->
        <div id="profile" class="tab-pane fade in active">
            <table class="table">
                <thead>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><b>Firstname</b></td>
                    <td>{{ profile.first_name|title }}</td>

                </tr>
                <tr>
                    <td><b>Lastname</b></td>
                    <td>{{ profile.last_name|title }}</td>

                </tr>
                <tr>
                    <td><b>E-mail</b></td>
                    <td>{{ profile.email }}</td>
                </tr>
                <tr>
                    <td><a href="{% url 'profile_update' profile %}"><span
                            class="glyphicon glyphicon-edit">Edit</span></a></td>
                    <td><a href="{% url 'profile_delete' profile %}"><span class="glyphicon glyphicon-remove-circle">Delete</span></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        {#        {% if profile.courses.all %}#}
        <!-- Courses table -->
        <div id="courses" class="tab-pane fade">
            <h3>Courses</h3>
            <p>My courses!</p>
        </div>
        {#        {% endif %}#}
        {#        {% if profile.posts.all %}#}
        <!-- Posts table -->
        <div id="posts" class="tab-pane fade">
            <h3>Posts</h3>
            <p>My posts!</p>
        </div>
        {#        {% endif %}#}
        {#        {% if profile.papers.all %}#}
        <!-- Papers table -->
        <div id="papers" class="tab-pane fade">
            <h3>Papers</h3>
            <p>My papers!</p>
        </div>
        {#        {% endif %}#}
    </div>
{% endblock %}