{% extends "registration/registration_base.html" %}

{% load i18n %}

{% load bootstrap4 %}

{% block title %}{% trans "Activation email sent" %}{% endblock %}

{% block content %}

    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Registration</h4>
        </div>
        <div class="card-body">
            <div class="alert alert-info" role="alert">
                {% trans "Please check your email to complete the registration process." %}
            </div>
        </div>
    </div>




{% endblock %}



