{% extends "registration/registration_base.html" %}

{% load i18n %}

{% load bootstrap4 %}

{% block title %}{% trans "Resend Activation Email" %}{% endblock %}

{% block content %}

    <form class="form" method="post">
        {% csrf_token %}
        {% bootstrap_form_errors form type="all" layout='inline' %}
        {% bootstrap_form form form_group_class='form-group' show_help=True show_label=True set_required=True size='medium' layout="horizontal" %}
        <div class="d-flex">
            {% bootstrap_button "Submit" button_type="submit" button_class="btn-secondary" %}
        </div>
    </form>

{% endblock %}


{% comment %}
**registration/resend_activation_form.html**
Used to show the form users will fill out to resend the activation email. By
default, has the following context:

``form``
    The registration form. This will be an instance of some subclass
    of ``django.forms.Form``; consult `Django's forms documentation
    <http://docs.djangoproject.com/en/dev/topics/forms/>`_ for
    information on how to display this in a template.
{% endcomment %}
